@model ClinicaProyect_DPWA.Models.EstadoReservacion

@{
    ViewBag.Title = "Detalles de estado de cita";
}

<div class="panel panel-primary" style="margin-top:3%">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.EstadoDeCita)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.EstadoDeCita, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink(" ", "Edit", new { id = Model.Id_EstadoReservacion }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil btn btn-success" }) 
    @Html.ActionLink("Regresar", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
</p>
