@model ClinicaProyect_DPWA.Models.Reservacion

@{
    ViewBag.Title = "Detalle de resevación";
}

<div class="panel panel-primary" style="margin-top:3%">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.EstadoPago.EstadoDePago)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.EstadoPago.EstadoDePago, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.EstadoReservacion.EstadoDeCita)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.EstadoReservacion.EstadoDeCita, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                <label class="control-label">Nombre del médico</label>
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Medico.Nombres, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                <label>Nombre del paciente</label>
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Paciente.Nombres, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.Titulo_reservacion)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Titulo_reservacion, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.Nota_reservacion)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Nota_reservacion, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.Direccion)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.Fecha_creado)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Fecha_creado, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.Fecha_cita)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Fecha_cita, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.Hora_cita)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Hora_cita, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.Sintomas)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Sintomas, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.Medicamentos)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Medicamentos, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.Precio)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink(" ", "Edit", new { id = Model.Id_Reservacion }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil btn btn-success" }) 
    @Html.ActionLink("Regresar", "Index", null, htmlAttributes: new { @class="btn btn-default" })
</p>
