@model IEnumerable<ClinicaProyect_DPWA.Models.EstadoPago>

@{
    ViewBag.Title = "Estado de pagos";
}

<link href="~/Content/AdminLTE.css" rel="stylesheet" />
<input type="hidden" id="txtOcultar" value="@ViewBag.Accion" />
<div class="box box-primary" style="margin-top:20px;">
    <div class="box-header">
        <h4 class="box-title">Lista de estado de pagos.</h4>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-success" name="btnCrear" id="btnCrear" onclick="Crear()">
                <i class="fas fa-plus-square"></i> Crear Nuevo
            </button>
        </div>
    </div>

    <div class="box-body">
        @using (Html.BeginForm())
        {
            <input type="hidden" id="txtOcultar" value="@ViewBag.Accion" />
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-6" id="Filtro">
                    <div class="col-sm-10 form-inline">
                        <input type="text" name="txtBuscar" class="form-control col-sm-3" placeholder="Ingrese una palabra" />
                        <input class="btn btn-primary" type="submit" id="btnEnviar" value="Buscar" />
                    </div>
                </div>
            </div>
        }
        <hr />
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EstadoDePago)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EstadoDePago)
                        </td>
                        <td width="70%"></td>
                        <td>
                            @Html.ActionLink(" ", "Edit", new { id = item.Id_TipoDePago }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil btn btn-success" })
                            @Html.ActionLink(" ", "Details", new { id = item.Id_TipoDePago }, htmlAttributes: new { @class = "glyphicon glyphicon-eye-open btn btn-primary" })
                            @Html.ActionLink(" ", "Delete", new { id = item.Id_TipoDePago }, htmlAttributes: new { @class = "glyphicon glyphicon-trash btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>
        </div>
        
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        if ($("#txtOcultar").val() == "Insertado") {
            swal("Registro Guardado!", "Datos  guardados correctamente!", "success");
        }
        else if ($("#txtOcultar").val() == "Editado") {
            swal("Registro Editado!", "Datos editados correctamente!", "success");
        }
        else if ($("#txtOcultar").val() == "Eliminado") {
            swal("Registro Eliminado!", "Datos  Eliminados correctamente!", "error");
        }
    });
</script>
<script>
    function Crear() {
        document.getElementById("btnCrear")
        location.href = "/EstadoPagos/Create";
    }
</script>

