@model ClinicaProyect_DPWA.Models.Paciente

@{
    ViewBag.Title = "Detalles del paciente";
}

<div class="panel panel-primary" style="margin-top:3%">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.Nombres)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.Apellidos)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.Genero)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Genero, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.FechaNacimiento)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.Direccion)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.Numero_documento)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Numero_documento, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.Movil)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Movil, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.Fecha_Creacion)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Fecha_Creacion, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink(" ", "Edit", new { id = Model.Id_Paciente }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil btn btn-success" }) 
    @Html.ActionLink("Regresar", "Index", null, htmlAttributes: new { @class ="btn btn-default" })
</p>
